
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Organics Fruits</title>
</head>
<body>
    <h1>Thank You</h1>

    <h4>Name : </h4>
    @ViewData["name"]<br />

    <h4>Email : </h4>
    @ViewData["email"]<br />

    <h4>Gender : </h4>
    @ViewData["gender"]<br />

    <h4>Interest :</h4>
    @ViewData["interest"]<br />

    <h4>Referral : </h4>
    @ViewData["refer"]<br />

    <h4>Comments : </h4>
    @ViewData["comments"]<br />

    <a href="~/Organic/Index">Back to Main</a>

</body>
</html>
<!-- 20031509 Thng Yu Yang -->
