@model List<LemonUser>

@if (TempData["Message"] != null)
{
   <div class="alert alert-@TempData["MsgType"]">
      @TempData["Message"]
   </div>
}

<table class="table table-condensed table-hover">
   <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Last Login</th>
      <th>&nbsp;</th>
   </tr>
   @foreach (LemonUser user in Model)
   {
      <tr>
         <td>@user.UserId</td>
         <td>@user.FullName</td>
         <td>@user.Email</td>
         <td>@String.Format("{0:yyyy-MM-dd hh:mm:ss}", user.LastLogin)</td>
         <td>
            <a asp-controller="Account"
               asp-action="Delete"
               asp-route-id="@user.UserId"
               onclick="return confirm('Delete User [@user.FullName]')">Delete</a>
         </td>
      </tr>
   }
</table>
