@model L03.Models.Consultant

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consultation</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="offset-sm-1 col-sm-4">
            <h2>Consultation</h2>
        </div>
    </div>

    <div class="row">
        <label class="control-label offset-sm-1 col-sm-2">Contact :</label>
        <div class="col-sm-5">
            @Model.StaffName (@Model.Email)
        </div>
    </div>

    <div class="row">
        <label class="control-label offset-sm-1 col-sm-2">Position :</label>
        <div class="col-sm-5">
            @Model.AcadPos
        </div>
    </div>

    <div class="row">
        <label class="control-label offset-sm-1 col-sm-2">Period :</label>
        <div class="col-sm-5">
            @String.Format("{0:yyyy-MM-dd}", Model.StartDate) to
            @String.Format("{0:yyyy-MM-dd}", Model.EndDate)
        </div>
    </div>

    <div class="row">
        <label class="control-label offset-sm-1 col-sm-2">Renumeration :</label>
        <div class="col-sm-5">
            @String.Format("{0:C}", ViewData["Amount"])
        </div>
    </div>
</body>
</html>
<!-- 20031509 Thng Yu Yang -->
