@{
    // TODO: L11 Task 6b - Include DataTables CSS and JS, write code to make the table paginable
}
@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#JSUsersTable').DataTable({
                ordering: false,
                paging: true,
                searching: false,
                info: false,
                lengthChange: false,
                pageLength: 5
            });
        });
    </script>
}

@model List<LemonUser>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

@{
    // TODO: L11 Task 6a - Give the Table an ID to be used with DataTables
}
<table id="JSUsersTable" class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Last Login</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LemonUser user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@String.Format("{0:yyyy-MM-dd hh:mm:ss}", user.LastLogin)</td>
            </tr>
        }
    </tbody>
</table>
@*20031509 Thng Yu Yang *@