@model Trip
<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>Update Trip Highlight</title>
   <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <script src="~/lib/jquery/jquery.min.js"></script>
   <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
   @await Html.PartialAsync("TravelMenu");
   <div class="container">
      <form method="post" action="/Travel/EditPost" >

         <div class="form-group row">
            <div class="offset-sm-2"><h2>Update Trip Highlight</h2></div>
         </div>

         <input type="text" name="ID" value="@Model.ID" hidden />

         <div class="form-group row">
            <div class="offset-sm-2 col-sm-5">
               <img id="ImgPhoto" src="/Photos/@Model.PhotoFile" style="width:400px;" />
            </div>
         </div>

         <div class="form-group row">
            <label class="control-label col-sm-2" for="Title">Title :</label>
            <div class="col-sm-5">
               <input type="text" name="Title" id="Title" 
                      value="@Model.Title" readonly class="form-control" />
            </div>
         </div>

         <div class="form-group row">
            <label class="control-label col-sm-2" for="City">City :</label>
            <div class="col-sm-5">
               <input type="text" name="City" id="City" readonly class="form-control"
                      value="@Model.City"  />
            </div>
         </div>

         <div class="form-group row">
            <label class="control-label col-sm-2" for="Date">Trip Date :</label>
            <div class="col-sm-5">
               <input type="text" name="Date" id="Date" readonly class="form-control"
                      value="@String.Format("{0:yyyy-MM-dd}", Model.TripDate)"  />
            </div>
         </div>

         <div class="form-group row">
            <label class="control-label col-sm-2" for="Duration">Length (in Days) :</label>
            <div class="col-sm-5">
               <input type="text" name="Duration" id="Duration" 
                      value="@Model.Duration" readonly class="form-control"/>
            </div>
         </div>

         <div class="form-group row">
            <label class="control-label col-sm-2" for="Cost">Total Cost :</label>
            <div class="col-sm-5">
               <input name="Cost" type="text" id="Cost" 
                      value="@Model.Spending" readonly class="form-control" />
            </div>
         </div>

         <div class="form-group row">
            <label class="control-label col-sm-2" for="Story">Detailed Story :</label>
            <div class="col-sm-5">
               <textarea name="Story" rows="8" cols="20" id="Story" 
                         class="form-control">@Model.Story</textarea>
            </div>
         </div>

         <div class="form-group row">
            <div class="offset-sm-2 col-sm-5">
               <input type="submit" value="Update" class="btn btn-primary" /><br />
            </div>
         </div>

         @if (ViewData["Message"] != null)
         {
         <div class="form-group row">
            <div class="offset-sm-2 col-sm-5">
               <div class="alert alert-@ViewData["MsgType"]">
                  <text>@ViewData["Message"]</text>
               </div>
            </div>
         </div>
         }
      </form>
   </div>
</body>
</html>
